<div class="layout-column full-height">
  <div class="flex-10 layout-row layout-align-space-around-center">
    {{#paper-button class="white flex-33"}}
      {{#link-to 'game.recap.points'}}View Points{{/link-to}}
    {{/paper-button}}

    {{#paper-button class="white flex-33"}}
      {{#link-to 'game.recap.players'}}View Players{{/link-to}}
    {{/paper-button}}
  </div>

  {{outlet}}

  <span class="flex"></span>

  <div class="flex-10 layout-row layout-align-center-center">
    {{#if game.closed}}
      {{#paper-button class="white flex-80"}}
        {{#link-to 'team.games' game.team}}Back to {{game.team.name}}{{/link-to}}
      {{/paper-button}}
    {{else}}
      {{#paper-button class="white flex-80"}}
        {{#link-to 'game.play'}}Back to Game{{/link-to}}
      {{/paper-button}}
    {{/if}}
  </div>

    <span class="flex-5"></span>
</div>
