<div class="layout-column full-height">
  <div class="flex-10 layout-row layout-align-space-around-center">
    {{#paper-button class="white flex-33"}}
      {{#link-to 'game.recap.points'}}View Points{{/link-to}}
    {{/paper-button}}

    {{#paper-button class="white flex-33"}}
      {{#link-to 'game.recap.players'}}View Players{{/link-to}}
    {{/paper-button}}
  </div>

  {{outlet}}

  <span class="flex"></span>

  <div class="flex-10 layout-row layout-align-center-center">
    {{#paper-button class="white flex-80"}}
      {{#link-to 'game.play'}}Back to Game{{/link-to}}
    {{/paper-button}}
  </div>

    <span class="flex-5"></span>
</div>
