html, body {
  background-color: #000000;
  color: #EEEEEE;
  height: 100vh;

  a {
    text-decoration: none;
    color: inherit;
  }
}

// Formatting
.full-height {
  height: 100vh;
}

// Text
.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

// Style
.border-top {
  border-top: 1px solid black;
}
.round-edges {
  border-radius: 5px;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-y {
  overflow-y: scroll;
}
