<div class="layout-column">
  <h3>Name: {{input value=team.name}}</h3>

  <div class="layout-row">
    <h3 class="flex">Primary: </h3>
    {{team/color-select
        selected=team.primary
        onchange=(action (mut team.primary))
        class="flex"
    }}
  </div>

  <div class="layout-row">
    <h3 class="flex">Secondary: </h3>
    {{team/color-select
      selected=team.secondary
      onchange=(action (mut team.secondary))
      class="flex"
    }}
  </div>

  <div class="layout-row layout-align-space-around-center flex-15">
    {{#paper-button class="white"}}
      {{#link-to "team"}}Cancel{{/link-to}}
    {{/paper-button}}

    {{#paper-button class="white" onClick=(action 'save')}}
      Save
    {{/paper-button}}
  </div>
</div>
