<div class="layout-column">
  <div class="layout-row layout-align-end-center flex-10">
    {{!-- record, point diff --}}
    {{#paper-button class="green"}}
      {{#link-to "team.new-game"}}+New Game{{/link-to}}
    {{/paper-button}}

    <span class="flex-5"></span>
  </div>

  {{#each games as |game|}}
    {{team/games/game-slice
        game=game
        team=team
        class="border-top"
    }}
  {{else}}
    <p>No games on record for {{team.name}}</p>
  {{/each}}
</div>
