<div class="layout-column">
  <h3>Opponent Name: {{input value=(mut opponentName)}}</h3>

  <div class="layout-row">
    <h3 class="flex">Opponent Color: </h3>

    {{team/color-select
        onChange=(action (mut opponentColor))
        selected=opponentColor
        class="flex"
    }}
  </div>

  {{#if displayErrorMessage}}
    <p>Please enter a team name and color for your opponent.</p>
  {{/if}}

  {{#paper-button class="green" onClick=(action 'createGame')}}
    Let's go!
  {{/paper-button}}
</div>
