<div class="layout-column layout-align-center-center flex">
  <span class="flex-5"></span>

  <label>First Name</label>
  {{input value=model.firstName onChange=(mut model.firstName) required=true}}

  <label>Last Name</label>
  {{input value=model.lastName onChange=(mut model.lastName) required=true}}

  <label>Nickname</label>
  {{input value=model.nickname onChange=(mut model.nickname)}}

  <label>Gender</label>
  <div class="layout-row flex-15">
    {{#paper-button raised=true mini=true onClick=(action 'setGender' 'm') primary=isM}}
      M
    {{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action 'setGender' 'f') primary=isF}}
      F
    {{/paper-button}}
  </div>

  <span class="flex-20"></span>

  <div class="flex-10">
    {{#paper-button class="flex-75" raised=true onClick=(action 'saveChanges')}}
      Save
    {{/paper-button}}
  </div>

  <span class="flex"></span>
</div>
