<div class="layout-column">
  <h3>Team Name: {{input value=(mut name)}}</h3>

  <div class="layout-row">
    <h3 class="flex">Primary: </h3>
    {{team/color-select
        onchange=(action (mut primary))
        selected=primary
        class="flex"
    }}
  </div>

  <div class="layout-row">
    <h3 class="flex">Secondary: </h3>
    {{team/color-select
        onchange=(action (mut secondary))
        selected=secondary
        class="flex"
    }}
  </div>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  {{#paper-button class="green" onClick=(action 'createTeam')}}
    Let's go!
  {{/paper-button}}
</div>
