<div class="layout-column layout-align-center-center flex">
  {{#if (not player.id)}}
    <p>Create yourself, then create your team.</p>
  {{/if}}

  <span class="flex-5"></span>

  <label>First Name</label>
  {{input value=player.firstName onChange=(mut player.firstName) required=true}}

  <label>Last Name</label>
  {{input value=player.lastName onChange=(mut player.lastName) required=true}}

  <label>Nickname</label>
  {{input value=player.nickname onChange=(mut player.nickname)}}

  <label>Gender</label>
  <div class="layout-row flex-15">
    {{#paper-button raised=true mini=true onClick=(action 'setGender' 'm') primary=player.isM}}
      M
    {{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action 'setGender' 'f') primary=player.isF}}
      F
    {{/paper-button}}
  </div>

  <span class="flex-20"></span>

  <div class="flex-10">
    {{#paper-button class="flex-75" raised=true onClick=(action 'saveChanges')}}
      Save
    {{/paper-button}}
  </div>

  <span class="flex"></span>
</div>
