<div class="layout-column">
  <div class="layout-row layout-align-end-center flex-10">
    {{!-- record, point diff --}}
    {{#paper-button class="green"}}
      {{#link-to "user.new-team"}}+New Team{{/link-to}}
    {{/paper-button}}

    <span class="flex-5"></span>
  </div>

  {{#each model.teams as |team|}}
    <div class="layout-row {{team.primary}} flex-15" {{action transitionToRoute 'team.games' team}}>
      <span class="flex-5"></span>
      <h3 class="flex">{{team.name}}</h3>
    </div>
  {{else}}
    <h4 class="centered">No teams. Create one!</h4>
  {{/each}}

</div>
