<div class="layout-column layout-align-space-around-center field-stats">
  <span class="flex-5"></span>

  {{#paper-button class="flex-15 stat yellow" onClick=(action clickStat 'goldStar')}}
    Gold Star!
  {{/paper-button}}

  {{#paper-button class="flex-15 stat red" onClick=(action clickStat 'boo')}}
    Boo...
  {{/paper-button}}

  {{#paper-button class="flex-15 stat white" onClick=(action resetLine)}}
    Adjust Line
  {{/paper-button}}

  <span class="flex"></span>

  {{#paper-button class="flex-15 stat white"}}
    {{#link-to "game.recap.points"}}View Stats{{/link-to}}
  {{/paper-button}}

  <span class="flex"></span>
</div>
