<div class="score-board layout-column layout-align-center-center">
  <h1 class="flex-50 centered">
    <span class="score {{teamColor}}">{{score}}</span>
  </h1>

  <h3 class="flex-50 centered">
    <span class="team-name {{teamColor}}">{{teamName}}</span>
  </h3>
</div>
