  {{#each sortedPlayers as |player i|}}
    <span class="{{if (is-odd i) team.primary team.secondary}}">
      {{game/recap/player-slice
          player=player
          points=points
      }}
    </span>
  {{/each}}
