<div class="layout-column">
  {{#each model.points as |point|}}
      <div class="layout-row flex-10 {{if point.weScored model.team.primary 'blue'}}">
        <span class="recap-score flex-15">{{point.ourScore}} - {{point.theirScore}}</span>
        <span class="scroll-x flex">
          {{#each point.players as |player|}}
            {{player.firstName}}
          {{/each}}
        </span>
      </div>
  {{/each}}
</div>
