{{#link-to 'game.play' game}}
  <div class="flex layout-row {{colorClass}}">
    <h3 class="flex-25">{{game.ourScore}} - {{game.theirScore}}</h3>
    <h3 class="flex"> vs. {{if game.opponentName game.opponentName 'Those guys'}}</h3>
  </div>
{{/link-to}}
