<div class="full-width flex layout-column layout-align-space-around-center">
  <h2>Ketch Ultimate</h2>
  <h3>Email: {{input value=identification}}</h3>
  <h3>Password: {{input value=password type='password'}}</h3>
  {{#paper-button class="white" onClick=(action 'authenticate')}}
    Login
  {{/paper-button}}
  {{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}}

  <p>Not a user yet? {{link-to 'Sign up' 'new-user' class="hyperlink"}}</p>
</div>
