  <div class="layout-column layout-align-center-center flex">
    <h3>Welcome to Ketch Ultimate!</h3>

    <p>Tell us a little about yourself.</p>
    <p>Then we'll get started creating your team.</p>

    <span class="flex-5"></span>

    <label>First Name</label>
    {{input value=firstName onChange=(mut livePlayer.firstName) required=true}}

    <label>Last Name</label>
    {{input value=lastName onChange=(mut livePlayer.lastName) required=true}}

    <label>Nickname</label>
    {{input value=nickname onChange=(mut livePlayer.nickname)}}

    <label>Gender</label>
    <div class="layout-row flex-15">
      {{#paper-button raised=true mini=true onClick=(action 'setGender' 'm') primary=isM}}
        M
      {{/paper-button}}
      {{#paper-button raised=true mini=true onClick=(action 'setGender' 'f') primary=isF}}
        F
      {{/paper-button}}
    </div>

    <span class="flex-10"></span>

    <div class="flex-10">
      {{#paper-button class="flex-75" raised=true onClick=(action 'createUser')}}
        Let's Go!
      {{/paper-button}}
    </div>

    <span class="flex"></span>
  </div>
