  <div class="layout-column layout-align-center-center flex">
    <h3>Welcome to Ketch Ultimate!</h3>

    <p>Let's get you signed up.</p>
    <p>Then we'll get started creating your team.</p>

    <span class="flex-5"></span>

    <label>Email*</label>
    {{input value=model.email onChange=(mut model.email) required=true}}

    <label>Password*</label>
    {{input value=model.password onChange=(mut model.password) type='password' required=true}}

    <label>Verify Password*</label>
    {{input value=model.passwordConfirmation onChange=(mut model.passwordConfirmation) type='password' required=true}}

    <span class="flex-10"></span>

    <div class="flex-10">
      {{#paper-button class="flex-75" raised=true onClick=(action 'createUser')}}
        Let's Go!
      {{/paper-button}}
    </div>

    <div class="flex-10">
      {{#if errorMessage}}
        <p class="red">{{errorMessage}}</p>
      {{/if}}
    </div>

    <span class="flex"></span>
  </div>
